
.sensei-anywhere {
    font: 14px Helvetica, Arial, sans-serif;
    line-height: 20px;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    display: none;
}
.sensei-anywhere input {
    border: 1px solid #ccc;
    padding: 7px 8px;
    border-radius: 3px;
    background: white;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.1);*/
    outline: none;
    width: 100%;
}
.sensei-anywhere ul {
    /*margin-top: 10px;*/
    list-style: none;
    padding: 0;
    /*border: 1px solid #f2f2f2;*/
    border-top-style: none;
    margin-top: 3px;
}
.sensei-anywhere li.item-group {
    background: #eee;
    padding: 3px 4px 2px 8px;
    font-size: 12px;
    /*border-top: 1px solid #ddd;*/
    font-weight: bold;
    text-transform: capitalize;
}
.sensei-anywhere li .group-count {
    color: gray;
}
.sensei-anywhere li.item {
    background: #f7f7f7;
    padding: 3px 12px;
    /*border-top: 1px solid #ddd;*/
}
.sensei-anywhere li.item:first-child {
    /*border-top-style: none;*/
}
.sensei-anywhere li.item.active,
.sensei-anywhere li.item:hover {
    background: #3c2b4d;
    color: white;
}
.sensei-anywhere li.more-item {
    color: gray;
}